body {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  max-width: 800px;
  min-width: 380px;
  margin: 0 10%;
  padding: 0;
  color: #2c3e50;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.375rem;
  line-height: 2rem;
  background-color: rgba(0, 128, 213, 0.01);
}

div {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  margin: 60px 0 20px 0;
}

section {
  margin: 30px 0 15px 0;
}

p {
  margin: 10px 0;
  padding: 0;
  text-indent: 20px;
}

a {
  color: #2c3e50;
}

a:hover {
  color: #fc4349;
}

.quote {
  box-sizing: border-box;
  max-width: 650px;
  padding-left: 15px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  border-left: 5px solid rgba(0, 128, 213, 0.5);
  border-radius: 15px;
}

.title {
  margin: 0 auto;
  line-height: initial;
  white-space: nowrap;
  color: #fc4349;
}

.subtitle {
  line-height: initial;
  float: left;
  margin: 0;
  color: #2c3e50;
  font-size: 20px;
  text-indent: 25px;
}

.nav {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0 10%;
  white-space: nowrap;
  list-style-type: disc;
}

.nav li {
  display: inline;
}

.fab {
  display: inline;
  line-height: 1;
}

@media all and (min-width: 551px) {
  .fab {
    font-size: 16px;
  }

  .nav li:before,
  .nav li:last-child:after {
    content: '\00a0\2022\00a0\00a0';
    color: #fc4349;
    font-size: 16px;
    padding-left: 3px;
  }
}

@media all and (max-width: 550px) {
  .fab {
    font-size: 24px;
  }

  body {
    margin: 0 0 0 5px;
  }

  header {
    margin: 5px 0 15px 0;
  }

  section {
    margin: 35px 5px 0 5px;
  }

  p {
    text-align: center;
    padding: 0 5px;
  }

  .nav {
    top: 5px;
    flex-flow: column;
    font-size: 1.5em;
    align-items: center;
    margin: 0;
  }

  .nav li {
    width: 100%;
    text-align: center;
    line-height: 45px;
  }

  .nav li a {
    display: block;
    border-top: 1px solid rgba(215, 218, 219, 0);
    border-bottom: 1px solid rgba(215, 218, 219, 0);
  }

  .nav li a:hover {
    border-top: 1px solid rgb(215, 218, 219);
    border-bottom: 1px solid rgb(215, 218, 219);
    background-color: rgba(215, 218, 219, 0.25);
  }

  .nav li a {
    width: 100%;
    height: 100%;
  }

  .nav li:not(:first-child) {
    margin: 5px auto;
  }
}
